body {
  background-color: #ffffff;
  color: #;
}

#myTitle {
  font-family: Futura;
  margin-top: 60px;
  margin-left: 10%;
}

#content {
  margin-top: 60px;
  margin-left: 10%;
  margin-bottom: 40px;
}

li {
  font-weight: bold;
}
